@import "global";

footer{
	background-color: #fbfbfb;
	padding: 80px 0px;
	color: #707070;
}

.footer-col-bio{
	float: left;
	width: 40%;
	padding-right: 120px;
}

.footer-col{
	float: left;
	width: 30%;
}

.logo-footer{
	width: 90%;
	margin-bottom: 30px;
}

.desc-blog{
	font-size: 16px;
}

.title-footer{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: 40px;
}

.social-footer{
	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px
	}

	li{
		margin-bottom: 20px;
	}

	a{	
		font-size: 16px;
		color: #707070;
		transition: ease all .5s;

		&:hover{
			text-decoration: none;
			color: $color-primary;
		}

		img{
			width: 45px;
			margin-right: 10px;
		}
	}
}

.kontak-footer{
	font-size: 16px;
	color: #707070;

	table{
		border: 0px;

		tr td{
			vertical-align: top;
		}
	}
}

.copy{
	font-size: 13px;
	margin-top: 40px;
	text-align: center;
}