@import 'global';

header{
	background-color: #fff;
	padding: 16px 0px;
	border-bottom: 1px solid rgba(173, 173, 173, 0.2);
  transition: all 1s;
}

.head-logo{
	float: left;
	width: 20%;
	img{
		width: 200px;
	}
}

.head-nav{
	float: left;
	width: 65%;
	position: relative;
}

.navigation {
  font-family: 'Poppins', Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin: 0px;
  padding: 0px;
}

.navigation * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navigation li {
  display: inline-block;
  list-style: outside none none;
  margin: 0px 10px;
  overflow: hidden;
}

.navigation a {
  padding: 0.3em 0;
  color: $color-text;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;

  &:hover{
    text-decoration: none;
  }
}

.navigation li a.active{
  color: $color-secondary;
}

.navigation a:before,
.navigation a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navigation a:before {
  bottom: 100%;
  display: block;
  width: 100%;
  content: "";
  background-color: $color-secondary;
}

.navigation a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: $color-secondary;
  white-space: nowrap;
}

.navigation li:hover a,
.navigation .current a {
  color: $color-secondary;
  transform: translateY(100%);
  text-decoration: none;
}

.head-search{
	float: left;
	width: 15%;
	text-align: right;
  font-family: 'Poppins', Roboto, sans-serif;
  font-size: 16px;
  padding: 6px 0px;
}

.btn-animate{
  position: relative;
  background: $color-secondary;
  padding: 5px 15px;
  border-radius: 50px;
  color: #fff;

  &:hover{
    background: $color-primary;
    color: #fff;
    text-decoration: none;
  }
}

.btn-animate span{
  position: absolute;
  left: 0px;
  top: 4px;
  opacity: 0;
  margin-left: -20px;
  transition: 0.5s;
}

.btn-animate .icon-search{
  transition: 0.5s;
  margin-left: 0px;
}

.btn-animate:hover span{
  margin-left: 20px;
  opacity: 1;
}

.btn-animate:hover .icon-search{
  margin-left: 45px;
}

// Sticky Nav
.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0px;
  animation: mymove 0.3s ease-in-out;
  border-bottom: 1px solid #fff;
  box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
}

.nav-fixed {
  height: 60px;
}

.nav-- {
  height: 0px;
}

@keyframes mymove {
  from {
    top: -60px;
  }
  to {
    top: 0px;
  }
}