@import 'global';

.desktop{
	display: block;
}

.mobile{
	display: none;
}

.left-content{
	float: left;
	width: 700px;
	padding-right: 30px;
	margin-top: 30px;
}

.right-content{
	float: right;
	width: 300px;
	margin-top: 30px;
}

// Util
.pagination{
	margin: 20px 0px 50px;
	display: block !important;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		text-align: center;
	}

	li{
		display: inline-block;
	}

	a{
		background: #fff;
		padding: 10px 13px;
		border-radius: 10px;
		border: 2px solid $color-secondary;
		color: $color-secondary;
		font-size: 14px;
		text-align: center;
		transition: all ease .5s;
		outline: none;

		&:hover{
			color: #fff;
			background: $color-secondary;
			text-decoration: none;
		}
	}
	.active{
		color: #fff;
		background: $color-secondary;
	}
}

.title-side{
	font-family: "Poppins-bold",'arial','tahoma';
	font-size: 20px;
	margin-bottom: 10px;
	color: $color-secondary;
}

// Page Not Found
.not-found-page{
	margin: 40px 0px;
}

.btn-back-home{
	margin: 30px auto;
	text-align: center;

	a{
		font-size: 16px;
		color: #fff;
		background-color: $color-secondary;
		padding: 10px 20px;
		border-radius: 5px;
		transition: all ease .2s;

		&:hover{
			text-decoration: none;
			background-color: $color-primary;
			color: #fff;
		}
	}
}

// Title Kategori
.warp-title-kategori{
	position: relative;
	width: 100%;

	&:after{
		position: absolute;
		content: "";
		left: 0;
		top: 16px;
		border-bottom: 2px solid $color-border;
		width: 100%;
		z-index: -1;
	}

	&:before{
		position: absolute;
		content: "";
		border-bottom: 4px solid $color-primary;
		right: 0;
		bottom: 20px;
		width: 60px;
	}
}

.title-kategori{
	font-family: "Poppins-bold",'arial','tahoma';
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 11px;
	padding-right: 11px;
	color: $color-secondary;
	width: max-content;
	background-color: #fbfbfb;
}

.more-artikel{
	float: right;
	text-align: right;

	a{
		font-size: 24px;
		font-weight: bold;
		color: $color-text;
		transition: all ease .2s;

		&:hover{
			text-decoration: none;
			color: $color-secondary;
		}
	}
}

.btn-2top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 88;
	border: none; 
	outline: none; 
	background-color: rgba(56, 148, 228, 0.8); 
	color: #fff;
	cursor: pointer;
	padding: 12px 19px;
	border-radius: 50px;
	font-size: 20px;
	box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);

	&:focus{
		outline: none; 
	}
}

// Not Result
.img-not-result{
	width: 100%;

	img{
		display: block;
		margin: 50px auto;
		width: 250px;
	}
}

.title-not-result{
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: $color-text;
}

// Headline
.headline{
	margin-bottom: 30px;
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
	transition: all 0.35s ease;

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-headline{
		background-position: 0 100%;
	}
}

.img-headline{
	width: 100%;
	height: 350px;

	img{
		width: 100%;
		height: 350px;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
	}

	a:hover .title-headline a{
		color: red;
	}
}

.detail-headline{
	padding: 15px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
}

.kategori-headline{
	font-size: 16px;
	font-weight: bold;
	color: $color-primary;
	margin-bottom: 10px;
}

.title-headline{
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	font-size: 25px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.author{
	font-size: 12px;
	font-weight: bold;
	color: #A9A9A9;
}

.date{
	font-size: 12px;
	color: #A9A9A9;

	&:before{
		content: "\2022";
		margin: 0px 5px;
	}
}

// Artikel
.box-artikel{
	margin: 0px -15px;
	display: flex;
	flex-wrap: wrap;
}

.list-artikel{
	width: 50%;
	float: left;
	padding: 0px 15px;
	margin-bottom: 30px;
}

.artikel{
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
	transition: all 0.35s ease;

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-artikel{
		background-position: 0 100%;
	}
}

.img-artikel{
	width: 100%;
	height: 200px;

	img{
		width: 100%;
		height: 200px;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
	}
}

.detail-artikel{
	padding: 15px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
}

.kategori-artikel{
	font-size: 14px;
	font-weight: bold;
	color: $color-primary;
	margin-bottom: 10px;
}

.title-artikel{
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	font-size: 20px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

// Pencarian Article
.pencarian{
	background: #fff;
	padding: 10% 20%;
	width: 100%;
	height: 100%;

	img{
		width: 400px;
		display: block;
		margin: 0px auto 30px;
	}
}

.form-cari{
	text-align: center;
	position: relative;
}

.txt-cari{
	font-size: 20px;
	border-radius: 50px;
	border: 2px solid #dedede;
	padding: 20px;
	width: 100%;
	color: $color-text;

	&:focus{
		border: 2px solid $color-primary;
		outline: none;
	}
}

.btn-cari{
	position: absolute;
	top: 1px;
	right: 2px;
	color: $color-secondary;
	background: #fff;
	font-size: 30px;
	padding: 13px 30px;
	border-radius: 0px 50px 50px 0px;
	border: none;
	text-align: center;
}

.pencarian-populer{
	margin-top: 20px;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin: 0px 5px 5px 0px;
		padding: 8px 0px;
	}

	a{
		font-size: 16px;
		background: $color-primary;
		color: #fff;
		padding: 8px 15px;
		border-radius: 50px;
	}

	a:hover{
		background: #87B11F;
		text-decoration: none;
		color: #fff;
	}
}

.title-pencarian-populer{
	font-size: 16px;
	color: $color-text;
	margin-right: 10px;
	font-family: "Poppins-bold",'Roboto-black','arial';
}

.close-pencarian{
	position: absolute;
	top: 70px;
	right: 70px;
	font-size: 30px;
	background: red;
	border-radius: 50px;
	color: #fff;
	padding: 5px 17px;

	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

// Ebook
.ebook{
	margin: 0px;
}

.title-ebook-section{
	float: left;
	font-size: 24px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: #3894E4;
	text-align: left;
}

.list-ebook{
	padding-top: 30px;
}

.left-ebook-content{
	float: left;
	width: 60%;
	padding-right: 20px;
}

.right-ebook-content{
	float: right;
	width: 40%;

	img{
		width: 100%;
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}
}

.title-ebook{
	color: $color-text;
	font-size: 35px;
	font-family: "Poppins-bold",'Roboto-black','arial';
}

.desc-ebook{
	color: $color-text;
	font-size: 16px;
	margin-top: 20px;
}

.btn-unduh{
	margin-top: 40px;

	a{
		font-size: 16px;
		padding: 10px 40px;
		color: #fff;
		background-color: $color-secondary;
		transition: all ease .2s;

		&:hover{
			text-decoration: none;
			background-color: $color-primary;
			color: #fff;
		}
	}
}

// Travelling
.travelling{
	margin: 80px 0px 0px;
	padding: 30px 0px;
	background-color: #EDEDED;
}

.title-travelling-section{
	float: left;
	font-size: 24px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: #25A353;
	text-align: left;
}

.box-artikel-travelling{
	position: relative;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
}

.list-artikel-travelling{
	width: 25%;
	padding: 30px 0px 0px;
	margin-bottom: 30px;
}

.artikel-travelling{
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
	transition: all 0.35s ease;

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-artikel-travelling{
		background-position: 0 100%;
	}
}

.img-artikel-travelling{
	width: 100%;
	height: 150px;

	img{
		width: 100%;
		height: 150px;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
	}
}

.title-artikel-travelling{
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.detail-artikel-travelling{
	padding: 15px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
	min-height: 114px;
}

.swiper-button-next::after, .swiper-button-prev::after{
	font-size: 15px !important;
	font-weight: bold !important;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: -24px !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: -24px !important;
}

.swiper-button-next, .swiper-button-prev{
	background: #25a353 !important;
	color: #fff !important;
	border-radius: 50px !important;
	border: 3px solid #ededed !important;
	padding: 20px !important;
	top: 33% !important;
}

// Artikel side
.artikel-baru{
	margin-bottom: 30px;
}

.list-artikel-side{
	margin-bottom: 15px;

	&:hover a .title-artikel-side{
		background-position: 0 100%;
		text-decoration: none;
	}
}

.img-artikel-side{
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	border-radius: 5px;

	img{
		width: 100%;
		height: 100px;
		object-fit: cover;
		border-radius: 5px;
	}
}

.detail-artikel-side{
	width: 200px;
	float: right;
	padding-left: 15px;
}

.title-artikel-side{
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.date-artikel-side{
	font-size: 10px;
	color: #A9A9A9;
}

// Tag Populer
.tag-populer{
	margin-bottom: 30px;
}

.list-tag-populer{
	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		padding: 8px 0px;
		margin-right: 5px;
	}

	a{
		font-size: 16px;
		text-transform: uppercase;
		color: #fff;
		padding: 5px 10px;
		background: $color-primary;
		border-radius: 5px;
		transition: all ease 0.3s;
	}

	a:hover{
		background: $color-secondary;
		color: #fff;
		text-decoration: none;
	}
}

// Video
.video{
	margin-bottom: 30px;
}

.headline-video{
	border-radius: 10px;	
	margin-bottom: 15px;

	img{
		width: 100%;
		height: 200px;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-video{
		background-position: 0 100%;
	}
}

.headline-detail-video{
	padding: 12px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
}

.title-video{
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.date-video{
	font-size: 12px;
	color: #A9A9A9;
}

// List Video
.list-video{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 300px;
	margin-bottom: 15px;
	border-radius: 10px;
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-video{
		background-position: 0 100%;
	}
}

.img-list-video{
	width: 100px;
	height: 100%;
	float: left;
	border-radius: 10px 10px 10px 10px;

	img{
		width: 100px;
		height: 100%;
		border-radius: 10px 0px 0px 10px;
		object-fit: cover;
	}
}

.list-detail-video{
	width: 200px;
	min-height: 100px;
	border-radius: 0px 10px 10px 0px; 
	float: right;
	padding: 10px;
	background: #fff;
}

.more-youtube{
	background: #FF0000;
	text-align: center;
	width: 100%;
	border-radius: 10px;
    transition: all ease 0.3s;

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		background-color: #fff;
	}

	a{
		color: #fff;
		padding: 10px;
		display: block;
	}

	a:hover{
		color: #FF0000;
		text-decoration: none;
	}

	.fa-youtube{
		font-size: 25px;
		margin: 0px 5px;
	}
}

// Artikel Populer
.artikel-populer{
	margin-bottom: 30px;
}

.warp-list-artikel-populer{
	padding: 5px 15px;
	border-radius: 10px;
	background: #F2F2F2;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}
}

.list-artikel-populer{
	border-bottom: 1px dashed $color-text;
	display: flex;
	flex-wrap: wrap;

	.title-populer{
		width: 85%;
		padding-left: 5px;

		a{
			position: relative;
			display: block;
			padding: 10px 0px;
			font-size: 16px;
			color: $color-text;
			font-weight: bold;
			overflow: hidden;
			background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 200% 100%;
			background-position: 100%;
			transition: background-position 275ms ease;
		}

		a:hover{
			text-decoration: none;
			background-position: 0 100%;
		}
	}

	.no-populer{
		width: 15%;
		font-family: "Poppins-bold",'arial','tahoma';
		font-size: 18px;
		font-weight: bold;
		color: $color-secondary;
		padding: 10px 0px;
	}

	&:last-child{
		border-bottom: 0px;
	}
}

// Read Artikel
.read-artikel{
	margin-bottom: 30px;
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
}

.img-read-artikel{
	width: 100%;
	height: 400px;

	img{
		width: 100%;
		height: 400px;
		border-radius: 10px 10px 0px 0px;
		object-fit: cover;
	}
}

.detail-read-artikel{
	padding: 15px;
	background: #fff;
	border-radius: 0px 0px 10px 10px;
}

.kategori-read-artikel{
	font-size: 16px;
	font-weight: bold;
	color: $color-primary;
	margin-bottom: 10px;
}

.title-read-artikel{
	margin-bottom: 5px;
	position: relative;
	display: inline-block;
	font-size: 35px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	overflow: hidden;
}

.box-auth-read-artikel{
	margin-bottom: 15px;
}

.author-read-artikel{
	font-size: 14px;
	font-weight: bold;
	color: #A9A9A9;

	a{
		color: $color-secondary;

		&:hover{
			text-decoration: none;
			color: $color-primary;
		}

		&:active{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.date-read-artikel{
	font-size: 14px;
	color: #A9A9A9;

	&:before{
		content: "\2022";
		margin: 0px 5px;
	}
}

.desc-read-artikel{
	color: $color-text;
	font-size: 16px;
	line-height: 30px;

	img{
		width: 100% !important;
		height: auto !important;
		border-radius: 5px;
		display: block;
		margin: auto;
	}

	h5{
		font-size: 12px;
		font-weight: normal !important;
		color: #7b7b7b;
	}

	img[alt*="smiley"], img[alt*="crying"] {
      	height: 23px !important;
		width: 23px !important;
		display: inline !important;
	}
}

.tag-read-artikel{
	margin: 60px 0px 50px;
	text-align: center;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin: 0px 5px;
	}

	a{
		background-color: #fff;
		border: 1px solid #DCDCDC;
		padding: 8px 20px;
		color: $color-text;
		font-size: 14px;
		transition: ease all .5s;
		border-radius: 50px;

		&:hover{
			text-decoration: none;
			border: 1px solid $color-secondary;
			color: $color-secondary;
		}
	}
}

// Prev Next Artikel
.prev-next{
	margin: 0px -30px;
}

.warp-prev-next{
	width: 100%;
	display: table;
	border-collapse: separate;
	border-spacing: 30px 0px;
	margin: 30px 0px;
}

.row-prev-next{
	display: table-row;
	height: 100%;
}

.list-prev-next-artikel{
	width: 50%;
	height: 100%;
	display: table-cell;
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
	transition: all 0.35s ease;
	background-color: #fff;

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-prev-next-artikel{
		background-position: 0 100%;
	}

	&:hover a .nav-prev{
		color: $color-primary;
	}

	&:hover a .nav-next{
		color: $color-primary;
	}
}

.prev-next-artikel{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.img-prev-next-artikel{
	width: 40%;
	height: 162px;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.img-prev{
	float: left;
	img{
		border-radius: 10px 0px 0px 10px;
	}
}

.img-next{
	float: right;
	img{
		border-radius: 0px 10px 10px 0px;
	}
}

.title-prev-next-artikel{
	font-size: 16px;
	font-family: "Poppins-bold",'Roboto-black','arial';
	color: $color-text;
	background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

.desc-prev, .desc-next{
	width: 60%;
	padding: 15px;
	height: 100%;
}

.desc-prev{
	float: right;
	text-align: left;
}

.desc-next{
	float: left;
	text-align: right;
}

.nav-prev, .nav-next{
	font-size: 14px;
	color: $color-secondary;
	margin-bottom: 15px;
	transition: ease all .5s;
}

// Pencarian
.warp-title-keyword{
	width: 100%;
	margin-bottom: 20px;
}

.title-keyword{
	font-family: "Poppins-bold",'tahoma','arial';
	font-size: 20px;
	color: $color-secondary;
}

.keyword{
	font-size: 18px;
	color: $color-text;
}

.artikel-search{
	box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	border-radius: 10px;
	transition: all 0.35s ease;
	height: 100%;

	a{
		display: flex;
		flex-wrap: wrap;
	}

	&:hover{
		box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
	}

	&:hover a{
		text-decoration: none;
	}

	&:hover a .title-artikel{
		background-position: 0 100%;
	}
}

.img-artikel-search{
	width: 30%;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px 0px 0px 10px
	}
}

.detail-artikel-search{
	width: 70%;
	padding: 10px 10px 10px 20px;
}