@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}

	.left-content{
		float: none;
		width: 100%;
		padding: 0px;
		margin-top: 0px;
	}

	.right-content{
		float: none;
		width: 100%;
		padding: 0px;
		margin-top: 0px;
	}

	// Util
	.paging{
		margin: 20px 0px 50px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
			text-align: center;
		}

		li{
			display: inline-block;
		}

		a{
			background: #fff;
			padding: 10px 13px;
			border-radius: 10px;
			border: 2px solid $color-secondary;
			color: $color-secondary;
			font-size: 12px;
			text-align: center;
			transition: all ease .5s;
			outline: none;

			&:hover{
				color: #fff;
				background: $color-secondary;
				text-decoration: none;
			}
		}
		.active{
			color: #fff;
			background: $color-secondary;
		}
	}

	.more-artikel{
		float: right;
		text-align: right;

		a{
			font-size: 20px;
			font-weight: bold;
			color: $color-text;
			transition: all ease .2s;

			&:hover{
				text-decoration: none;
				color: $color-secondary;
			}
		}
	}

	// Page Not Found
	.not-found-page{
		margin: 40% 0px;
	}

	// Header Icon Menu
	.hide-body{
		margin-bottom: 100px;
	}

	.warp-header{
		position: fixed;
		z-index: 99;
		top: 0;
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		-moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
	}

	// Logo Head
	.logo-head{
		width: 70%;

		img{
			width: 200px;
			display: block;
			margin: auto;
			padding: 12px 0px;
		}
	}

	// Icon Search
	.search-icon{
		width: 15%;
		text-align: right;
		cursor: pointer;
		font-size: 24px;
		padding: 13px 0px;

		a{
			color: $color-secondary;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-secondary;
			}
		}
	}

	// Nav Icon
	.nav-icon {
		width: 15%;
		display: inline-block;
		cursor: pointer;
		padding: 16px 0px;
	}

	.ico-drop-nav{
		padding-left: 5%;
	}
	
	.bar1, .bar2, .bar3 {
		height: 3px;
		background-color: $color-secondary;
		margin: 5px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	.bar1{
		width: 22px;
	}

	.bar2{
		width: 22px;
	}

	.bar3{
		width: 22px;
	}

	.change .bar1 {
		width: 25px;
		-webkit-transform: rotate(-45deg) translate(-5px, 5px);
		transform: rotate(-45deg) translate(-5px, 5px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		width: 25px;
		-webkit-transform: rotate(45deg) translate(-6px, -6px);
		transform: rotate(45deg) translate(-6px, -6px);
	}

	// Nav Slide
	.nav-slide{
		position: fixed;
		top: -1500px;
		left: 0px;
		padding: 0px 15px;
		background-color: #fff;
		width: 100%;
		height: 100%;
		z-index: 97;
		overflow-y: scroll;
		transition: all .5s ease-in-out;
	}

	.nav-slide-primary{
		margin: 24px 0px 58px;

		a{
			color: $color-caption;
			font-size: 16px;
			text-align: center;
			margin-bottom: 32px;
			display: block;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-caption;
			}
		}
	}

	.nav-slide-social{
		font-size: 24px;
		color: $color-primary;
		text-align: center;
		margin-bottom: 70px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 20px 0px 0px;
		}

		li{
			display: inline-block;
			margin-right: 8px;

			&:last-child{
				margin-right: 0px;
			}
		}

		a{
			font-size: 25px;
		}

		img{
			width: 40px;
			height: 40px;
		}
	}

	a.social-fb{
		color: $color-fb !important; 
	}

	a.social-tw{
		color: $color-tw !important
	}

	a.social-ig{
		color: $color-ig !important;
	}

	a.social-yt{
		color: $color-yt !important;
	}

	// Not Result
	.img-not-result{
		width: 100%;

		img{
			display: block;
			margin: 30px auto;
			width: 150px;
		}
	}

	.title-not-result{
		width: 100%;
		font-size: 20px;
		text-align: center;
		color: $color-text;
		margin-bottom: 30px;
	}

	// Headline
	.headline{
		margin-bottom: 30px;
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
		transition: all 0.35s ease;

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-headline{
			background-position: 0 100%;
		}
	}

	.img-headline{
		width: 100%;
		height: 230px;

		img{
			width: 100%;
			height: 230px;
			border-radius: 10px 10px 0px 0px;
			object-fit: cover;
		}

		a:hover .title-headline a{
			color: red;
		}
	}

	.detail-headline{
		padding: 15px;
		background: #fff;
		border-radius: 0px 0px 10px 10px;
	}

	.kategori-headline{
		font-size: 16px;
		font-weight: bold;
		color: $color-primary;
		margin-bottom: 10px;
	}

	.title-headline{
		margin-bottom: 5px;
		position: relative;
		display: inline-block;
		font-size: 18px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	.author{
		font-size: 10px;
		font-weight: bold;
		color: #A9A9A9;
	}

	.date{
		font-size: 10px;
		color: #A9A9A9;

		&:before{
			content: "\2022";
			margin: 0px 5px;
		}
	}

	// Artikel
	.box-artikel{
		margin: 0px -15px;
		display: flex;
		flex-wrap: wrap;
	}

	.list-artikel{
		width: 100%;
		float: left;
		padding: 0px 15px;
		margin-bottom: 30px;
	}

	.artikel{
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
		transition: all 0.35s ease;

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-artikel{
			background-position: 0 100%;
		}
	}

	.img-artikel{
		width: 100%;
		height: 200px;

		img{
			width: 100%;
			height: 200px;
			border-radius: 10px 10px 0px 0px;
			object-fit: cover;
		}
	}

	.detail-artikel{
		padding: 15px;
		background: #fff;
		border-radius: 0px 0px 10px 10px;
	}

	.kategori-artikel{
		font-size: 12px;
		font-weight: bold;
		color: $color-primary;
		margin-bottom: 10px;
	}

	.title-artikel{
		margin-bottom: 5px;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	// Pencarian Article
	.pencarian{
		background: #fff;
		padding: 20px 15px;
		width: 100%;
		height: 100%;

		img{
			width: 70%;
			display: block;
			margin: 50px auto 30px;
		}
	}

	.form-cari{
		text-align: center;
		position: relative;
	}

	.txt-cari{
		font-size: 16px;
		border-radius: 50px;
		border: 2px solid #dedede;
		padding: 10px 20px;
		width: 100%;
		color: $color-text;

		&:focus{
			border: 2px solid $color-primary;
			outline: none;
		}
	}

	.btn-cari{
		position: absolute;
		top: 2px;
		right: 3px;
		color: $color-secondary;
		background: #fff;
		font-size: 20px;
		padding: 7px 18px;
		border-radius: 0px 50px 50px 0px;
		border: none;
		text-align: center;
	}

	.pencarian-populer{
		margin-top: 20px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin: 0px 5px 5px 0px;
			padding: 8px 0px;
		}

		a{
			font-size: 16px;
			background: $color-primary;
			color: #fff;
			padding: 8px 15px;
			border-radius: 50px;
		}

		a:hover{
			background: #87B11F;
			text-decoration: none;
			color: #fff;
		}
	}

	.title-pencarian-populer{
		font-size: 16px;
		color: $color-text;
		margin-right: 10px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		display: inline-block !important;
		width: 100%;
	}

	.close-pencarian{
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 16px;
		background: red;
		border-radius: 50px;
		color: #fff;
		padding: 5px 12px;

		&:hover{
			color: #fff;
			text-decoration: none;
		}
	}

	// Ebook
	.ebook{
		margin: 0px;
	}

	.title-ebook-section{
		float: left;
		font-size: 20px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: #3894E4;
		text-align: left;
	}

	.list-ebook{
		padding-top: 30px;
	}

	.left-ebook-content{
		width: 100%;
		padding-right: 0px;
	}

	.right-ebook-content{
		width: 100%;
		margin: 30px 0px 50px;

		img{
			width: 60%;
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
			border-radius: 10px;
		}
	}

	.title-ebook{
		color: $color-text;
		font-size: 35px;
		font-family: "Poppins-bold",'Roboto-black','arial';
	}

	.desc-ebook{
		color: $color-text;
		font-size: 16px;
		margin-top: 20px;
	}

	.btn-unduh{
		margin-top: 40px;

		a{
			font-size: 16px;
			padding: 10px 40px;
			color: #fff;
			background-color: $color-secondary;
			transition: all ease .2s;

			&:hover{
				text-decoration: none;
				background-color: $color-primary;
				color: #fff;
			}
		}
	}

	// Artikel side
	.artikel-baru{
		margin-bottom: 30px;
	}

	.list-artikel-side{
		margin-bottom: 15px;

		&:hover a .title-artikel-side{
			background-position: 0 100%;
			text-decoration: none;
		}
	}

	.img-artikel-side{
		width: 30%;
		height: 100px;
		float: left;
		overflow: hidden;
		border-radius: 5px;

		img{
			width: 100%;
			height: 100px;
			object-fit: cover;
			border-radius: 5px;
		}
	}

	.detail-artikel-side{
		width: 70%;
		float: right;
		padding-left: 15px;
	}

	.title-artikel-side{
		margin-bottom: 5px;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	.date-artikel-side{
		font-size: 10px;
		color: #A9A9A9;
	}

	// Video
	.video{
		margin-bottom: 30px;
	}

	.headline-video{
		border-radius: 10px;	
		margin-bottom: 15px;

		img{
			width: 100%;
			height: 220px;
			border-radius: 10px 10px 0px 0px;
			object-fit: cover;
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-video{
			background-position: 0 100%;
		}
	}

	.headline-detail-video{
		padding: 12px;
		background: #fff;
		border-radius: 0px 0px 10px 10px;
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
	}

	.title-video{
		margin-bottom: 10px;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	.date-video{
		font-size: 10px;
		color: #A9A9A9;
	}

	// List Video
	.list-video{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		margin-bottom: 15px;
		border-radius: 10px;
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-video{
			background-position: 0 100%;
		}
	}

	.img-list-video{
		width: 30%;
		height: 100%;
		float: left;
		border-radius: 10px 10px 10px 10px;

		img{
			width: 100%;
			height: 100%;
			border-radius: 10px 0px 0px 10px;
			object-fit: cover;
		}
	}

	.list-detail-video{
		width: 70%;
		min-height: 100px;
		border-radius: 0px 10px 10px 0px; 
		float: right;
		padding: 10px;
		background: #fff;
	}

	.more-youtube{
		background: #FF0000;
		text-align: center;
		width: 100%;
		border-radius: 10px;
	    transition: all ease 0.3s;

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
			background-color: #fff;
		}

		a{
			color: #fff;
			padding: 10px;
			display: block;
		}

		a:hover{
			color: #FF0000;
			text-decoration: none;
		}

		.fa-youtube{
			font-size: 25px;
			margin: 0px 5px;
		}
	}

	// Travelling
	.travelling{
		margin: 20px 0px 0px;
		padding: 30px 0px;
		background-color: #EDEDED;
	}

	.title-travelling-section{
		float: left;
		font-size: 20px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: #25A353;
		text-align: left;
	}

	.box-artikel-travelling{
		position: relative;
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.list-artikel-travelling{
		width: 100% !important;
		padding: 30px 0px 0px;
		margin-bottom: 30px;
	}

	.artikel-travelling{
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
		transition: all 0.35s ease;

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-artikel-travelling{
			background-position: 0 100%;
		}
	}

	.img-artikel-travelling{
		width: 100%;
		height: 220px;

		img{
			width: 100%;
			height: 220px;
			border-radius: 10px 10px 0px 0px;
			object-fit: cover;
		}
	}

	.title-artikel-travelling{
		margin-bottom: 5px;
		position: relative;
		display: inline-block;
		font-size: 16px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	.detail-artikel-travelling{
		padding: 15px;
		background: #fff;
		border-radius: 0px 0px 10px 10px;
		min-height: 114px;
	}

	.swiper-container{
		margin-left: 10px !important;
		margin-right: 10px !important;
	}

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 15px !important;
		font-weight: bold !important;
	}

	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: -13px !important;
	}

	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: -13px !important;
	}

	.swiper-button-next, .swiper-button-prev{
		background: #25a353 !important;
		color: #fff !important;
		border-radius: 50px !important;
		border: 3px solid #ededed !important;
		padding: 20px !important;
		top: 33% !important;
	}

	// Read Artikel
	.read-artikel{
		margin-bottom: 30px;
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
	}

	.img-read-artikel{
		width: 100%;
		height: 250px;

		img{
			width: 100%;
			height: 250px;
			border-radius: 10px 10px 0px 0px;
			object-fit: cover;
		}
	}

	.detail-read-artikel{
		padding: 15px;
		background: #fff;
		border-radius: 0px 0px 10px 10px;
	}

	.kategori-read-artikel{
		font-size: 16px;
		font-weight: bold;
		color: $color-primary;
		margin-bottom: 10px;
	}

	.title-read-artikel{
		margin-bottom: 5px;
		position: relative;
		display: inline-block;
		font-size: 30px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		overflow: hidden;
	}

	.box-auth-read-artikel{
		margin-bottom: 15px;
	}

	.author-read-artikel{
		font-size: 12px;
		font-weight: bold;
		color: #A9A9A9;

		a{
			color: $color-secondary;

			&:hover{
				text-decoration: none;
				color: $color-primary;
			}

			&:active{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	.date-read-artikel{
		font-size: 12px;
		color: #A9A9A9;

		&:before{
			content: "\2022";
			margin: 0px 5px;
		}
	}

	.desc-read-artikel{
		color: $color-text;
		font-size: 16px;
		line-height: 30px;

		img{
			width: 100% !important;
			height: auto !important;
			border-radius: 5px;
			display: block;
			margin: auto;
		}

		h5{
			font-size: 12px;
			font-weight: normal !important;
			color: #7b7b7b;
		}

		img[alt*="smiley"], img[alt*="crying"] {
	      	height: 23px !important;
			width: 23px !important;
			display: inline !important;
		}
	}

	.tag-read-artikel{
		margin: 60px 0px 50px;
		text-align: center;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin: 15px 5px;
		}

		a{
			background-color: #fff;
			border: 1px solid #DCDCDC;
			padding: 8px 20px;
			color: $color-text;
			font-size: 14px;
			transition: ease all .5s;
			border-radius: 50px;

			&:hover{
				text-decoration: none;
				border: 1px solid $color-secondary;
				color: $color-secondary;
			}
		}
	}

	.komentar{
		margin-bottom: 20px;
	}

	// Prev Next Artikel
	.prev-next{
		margin: 0px 0px;
	}

	.warp-prev-next{
		width: 100%;
		display: block;
		border-collapse: separate;
		border-spacing: 30px 0px;
		margin: 30px 0px;
	}

	.row-prev-next{
		display: block;
		height: 100%;
	}

	.list-prev-next-artikel{
		width: 100%;
		height: 100%;
		display: inline-block;
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
		transition: all 0.35s ease;
		background-color: #fff;
		margin-bottom: 15px;

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-prev-next-artikel{
			background-position: 0 100%;
		}

		&:hover a .nav-prev{
			color: $color-primary;
		}

		&:hover a .nav-next{
			color: $color-primary;
		}
	}

	.prev-next-artikel{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}

	.img-prev-next-artikel{
		width: 40%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.img-prev{
		float: left;
		img{
			border-radius: 10px 0px 0px 10px;
		}
	}

	.img-next{
		float: right;
		img{
			border-radius: 0px 10px 10px 0px;
		}
	}

	.title-prev-next-artikel{
		font-size: 16px;
		font-family: "Poppins-bold",'Roboto-black','arial';
		color: $color-text;
		background: linear-gradient(to right, $color-hover, $color-hover 50%, $color-text 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position: 100%;
		transition: background-position 275ms ease;
	}

	.desc-prev, .desc-next{
		width: 60%;
		padding: 15px;
		height: 100%;
	}

	.desc-prev{
		float: right;
		text-align: left;
	}

	.desc-next{
		float: left;
		text-align: right;
	}

	.nav-prev, .nav-next{
		font-size: 14px;
		color: $color-secondary;
		margin-bottom: 15px;
		transition: ease all .5s;
	}

	// Pencarian
	.warp-title-keyword{
		width: 100%;
		margin-bottom: 20px;
	}

	.list-artikel-search{
		margin-bottom: 20px;
	}

	.title-keyword{
		font-family: "Poppins-bold",'tahoma','arial';
		font-size: 18px;
		color: $color-secondary;
	}

	.keyword{
		font-size: 16px;
		color: $color-text;
	}

	.artikel-search{
		box-shadow: 0px 2px 8px 2px rgba(173, 173, 173, 0.2);
		border-radius: 10px;
		transition: all 0.35s ease;
		height: 100%;

		a{
			display: flex;
			flex-wrap: wrap;
		}

		&:hover{
			box-shadow: 0px 2px 8px 2px rgba(82, 86, 80, 0.3);
		}

		&:hover a{
			text-decoration: none;
		}

		&:hover a .title-artikel{
			background-position: 0 100%;
		}
	}

	.img-artikel-search{
		width: 30%;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px 0px 0px 10px
		}
	}

	.detail-artikel-search{
		width: 70%;
		padding: 10px 10px 10px 20px;
	}

	footer{
		background-color: #fbfbfb;
		padding: 30px 0px;
		color: #707070;
	}

	.footer-col-bio{
		float: left;
		width: 100%;
		padding-right: 0px;

		img{
			width: 300px;
			margin-bottom: 20px;
		}
	}

	.footer-col{
		float: left;
		width: 100%;
		margin-top: 20px;
	}

	.logo-footer{
		width: 100%;
		margin-bottom: 30px;
	}

	.desc-blog{
		font-size: 16px;
	}

	.title-footer{
		font-size: 16px;
		font-weight: bold;
		padding-top: 10px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.social-footer{
		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px
		}

		li{
			margin-bottom: 20px;
		}

		a{	
			font-size: 16px;
			color: #707070;
			transition: ease all .5s;

			&:hover{
				text-decoration: none;
				color: $color-primary;
			}

			img{
				width: 45px;
				margin-right: 10px;
			}
		}
	}

	.kontak-footer{
		font-size: 16px;
		color: #707070;

		table{
			border: 0px;

			tr td{
				vertical-align: top;
			}
		}
	}

	.copy{
		font-size: 13px;
		margin-top: 40px;
		text-align: center;
	}


}